* {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 60px;
    width: auto;
    border-right: 2px solid grey;
    padding-right: 10px;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    padding-left: 10px;
}


h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 40px;
}

p {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}